<table id="example" class="display" style="width:100%">
  <thead>
    <tr>
      <th>Lastname</th>
      <th>Firstname</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Messiani</td>
      <td>Cristiano</td>
    </tr>
    <tr>
      <td>Rolando</td>
      <td>Esteban</td>
    </tr>
    <tr>
      <td>Traoré</td>
      <td>Adam</td>
    </tr>
  </tbody>
</table>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    let table = new DataTable('#example')
  });
</script>
